/* 
    Created on : 26/08/2016
    Author     : Versvs
*/
html, body{
    width: 100%;
    height: 100%;
}

h2{
    color: #444;
}

/*Pagina Login*/
.my_gradient{
    background: rgba(106,27,154,1);
    background: -moz-linear-gradient(top, rgba(106,27,154,1) 0%, rgba(106,27,154,1) 3%, rgba(79,195,247,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(106,27,154,1)), color-stop(3%, rgba(106,27,154,1)), color-stop(100%, rgba(79,195,247,1)));
    background: -webkit-linear-gradient(top, rgba(106,27,154,1) 0%, rgba(106,27,154,1) 3%, rgba(79,195,247,1) 100%);
    background: -o-linear-gradient(top, rgba(106,27,154,1) 0%, rgba(106,27,154,1) 3%, rgba(79,195,247,1) 100%);
    background: -ms-linear-gradient(top, rgba(106,27,154,1) 0%, rgba(106,27,154,1) 3%, rgba(79,195,247,1) 100%);
    background: linear-gradient(to bottom, rgba(106,27,154,1) 0%, rgba(106,27,154,1) 3%, rgba(79,195,247,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a1b9a', endColorstr='#4fc3f7', GradientType=0 );
    background-repeat: no-repeat;
    height: auto;
}

.login_section{
    margin-top: 10%;
}

.login_form{
    width: 100%;
}

.input_login{
    border: none;
    border-bottom: 1px solid #ccccb3;
    background: none;
    width: 100%;
    height: 46px;
}

.span_clear{
    background: none;
    border: none;
    color: #fff;
}

.input-group-login{
    margin-top: 15px;
}

#logo figure img{
    width: 250px;
    height: 250px;
}

.btn_login{
    background-color: #fff;
    color: #4fc3f7;
    width: 170px;
    font-family: "Roboto", sans-serif;
    font-size: 1.3em;
    font-weight: 700;
    width: 100%;
    height: 46px;
}

.btn_login:hover{
    background-color: #4fc3f7;
    color: #fff;
}

.login_api{
    width: 45%;
    height: 35px;
}

.checkbox-clear{
    margin: 10px;
}

.register{
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
    margin-left: 15px; 
}

.forgot_pass{
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
    margin-left: 100px;    
}

.separa_linha{
    margin: 15px 0 15px 0;
}

.ajusta_linha{
    margin-top: 10px;
    width: 100%;
}

label{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #fff;
}

/*Pagina Register*/
.form_cadastro{
    padding: 30px;
}

.row_register{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    color: #fff;
}

.alredy_account{
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 1.3em;
}

.cyan {
    background-color: #00bcd4;
}

.btn-register{
    background-color: #4fc3f7;
    color: #fff;
    width: 170px;
    font-family: "Roboto", sans-serif;
    font-size: 1.3em;
    font-weight: 700;
    width: 100%;
    height: 46px;
}

.btn-register:hover{
    background-color: lightcyan;
    color: lightskyblue;
}

form{
    margin-bottom: 15px;
}

/*Parallax*/
.parallax-container {
    height: 350px;
}

/*Letra do Erro da pagina error.jsp*/
#pError {
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-size: 1.3em;
}

/* Index */
.brand-logo{
    margin-left: 50px;
}